/* 좌측 영역: back-button이 들어가는 영역 */
.header-left {
    width: 24px;
    justify-self: start;
    margin-right: 150px;
}

/* 중앙 영역: 제목 */
.header-center {
    justify-self: center;
    text-align: center;
}

/* 우측 영역: 균형을 위한 빈 공간 */
.header-right {
    width: 24px;
    justify-self: end;
    margin-left: 150px;
    position: relative;
}

.header-right .profile-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

/* 버튼 */
.buttons {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: flex-end;
    margin: 20px 0;
}

.buttons .button {
    width: 30%;
    height: 42px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ACA0EB;
    border-radius: 20px;
    border: none;

    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    
    cursor: pointer;
}

/* 게시글 아이템 */
.post-item {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* 제목: 상단 좌측 */
.post-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 중단 영역 */
.post-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

/* 좌측 통계 */
.post-stats span {
    display: inline-block;
    font-size: 14px;
    color: #555555;
    margin-right: 10px;
}

/* 우측 작성 날짜 */
.post-date {
    font-size: 12px;
    color: #888888;
}

/* 회색 구분선 */
.post-divider {
    width: 100%;
    border: none;
    border-top: 1px solid #cccccc;
    margin: 5px 0;
}

/* 하단 작성자 영역 */
.post-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.post-author-image {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.post-author-name {
    font-size: 14px;
    color: #333333;
}
