/* 좌측 영역: back-button이 들어가는 영역 */
.header-left {
    width: 24px;
    justify-self: start;
    margin-right: 150px;
}

/* 중앙 영역: 제목 */
.header-center {
    justify-self: center;
    text-align: center;
}

/* 우측 영역: 균형을 위한 빈 공간 */
.header-right {
    width: 24px;
    justify-self: end;
    margin-left: 150px;
    position: relative;
}

.header-right .profile-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

/* 헬퍼 텍스트 */
.helper-text {
    font-size: 14px;
    text-align: left;
    margin-top: 4px;
}
.helper-text .complete-check {
    display: none;
}

/* 게시글 정보 입력 부분 */
.write-card {
    color: #000000;
    text-align: left;
}
.write-card .label {
    font-size: 14px;
    font-weight: bold;
}
.write-card .input {
    width: 100%;
    height: 30px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    border: 1px solid #ccc;

    padding: 0 5px;
}
.write-card textarea {
    width: 100%;
    height: 300px !important;
    resize: none;
    border: none;
    outline: none;
    font-size: 12px;
    color: #000000;
}
.file-upload-text {
    font-size: 14px;
    color: #000000;
    margin-left: 10px;
    vertical-align: middle;
}

/* 게시글 가로줄 구분선 */
.post-horizontal-rule {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #D9D9D9;
    margin: 10px auto;
}

/* 제목 입력 스타일 */
#title-input {
    margin: 10px 0;
    border: none;
    background-color: transparent;
    outline: none;
}

/* 내용 입력 스타일 */
#content-input {
    border: none;
    background-color: transparent;
    outline: none;
}

/* 버튼 */
.buttons {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.buttons .button {
    width: 60%;
    height: 42px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ACA0EB;
    border-radius: 10px;
    border: none;

    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
}
