/* 좌측 영역: back-button이 들어가는 영역 */
.header-left {
    width: 24px;
    justify-self: start;
    margin-right: 150px;
}

/* 중앙 영역: 제목 */
.header-center {
    justify-self: center;
    text-align: center;
}

/* 우측 영역: 균형을 위한 빈 공간 */
.header-right {
    width: 24px;
    justify-self: end;
    margin-left: 150px;
    position: relative;
}

.header-right .profile-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

/* 헬퍼 텍스트 */
.helper-text {
    font-size: 14px;
    text-align: left;
    margin-top: 4px;
}
.helper-text .profile {
    display: none;
}
.helper-text .nickname {
    display: none;
}

/* 프로필 사진 */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .image {
    width: 150px;
    height: 150px;
    background-color: #C4C4C4;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.profile .image .change-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
}

/* 회원 탈퇴 모달 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

.modal-content .button {
    width: 100px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content #cancel-withdrawal {
    background-color: #242424;
    color: #fff;
}

.modal-content #cancel-withdrawal:hover {
    background-color: #000000;
}

.modal-content #confirm-withdrawal {
    background-color: #ACA0EB;
    color: #000;
}

.modal-content #confirm-withdrawal:hover {
    background-color: #7F6AEE;
}
