/* 좌측 영역: back-button이 들어가는 영역 */
.header-left {
    width: 24px;
    justify-self: start;
    margin-right: 150px;
}

/* 중앙 영역: 제목 */
.header-center {
    justify-self: center;
    text-align: center;
}

/* 우측 영역: 균형을 위한 빈 공간 */
.header-right {
    width: 24px;
    justify-self: end;
    margin-left: 150px;
    position: relative;
}

.header-right .profile-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

/* 헬퍼 텍스트 */
.helper-text {
    font-size: 14px;
    text-align: left;
    margin-top: 4px;
}
.helper-text .password,
.helper-text .password-check {
    display: none;
}

/* 가로줄 구분선 */
.horizontal-rule {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #000000;
    margin: 10px auto 150px;
}
