/* 헬퍼 텍스트 */
.helper-text {
    font-size: 14px;
    text-align: left;
    margin-top: 4px;
}

.helper-text .login {
    display: none;
}

/* 가로줄 구분선 */
.horizontal-rule {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #000000;
    margin: 10px auto 150px;
}
